-r requirements.txt

pytest==8.3.4
pytest-django==4.9.0
pytest-cov==6.0.0
factory-boy==3.3.1
freezegun==1.5.1
ruff==0.8.4
mypy==1.13.0
django-stubs[compatible-mypy]==5.1.1
djangorestframework-stubs==3.15.2
